.DS_Store
Thumbs.db
bower_components/
node_modules/
workfiles/
app/scss/.sass-cache/*
pedals alias
pedals-new alias
config.codekit3
0_pre
1_post
_post
_pre
app/images/pedals/.pedals-public.lnk
public/images/pedals/.pedals-app.lnk
