$border: 1px solid rgba(black, .13);

.site-header {
	background: #FFF;
	border-bottom: $border;
	padding: 12px;
	h1 {
		font-size: 22px;
		text-transform: uppercase;
		margin: 0;
	}
}

.site-body {
	min-height: 100vh;
	min-width: 1000px;
	@include flexbox;
	//@include flex-direction(column);
	@media (min-width: 769px) {
		//@include flex-direction(row);
	}
}

.sidebar,
.canvas {
	@include flex(1 1 auto);
}

.sidebar {
	max-width: 290px;
	border-right: $border;
	background: #FFF;
	box-shadow: 0 1px 5px rgba(black, .16);
	padding: 20px;
	&__section {
		border-bottom: $border;
		padding-bottom: 16px;
		margin-bottom: 16px;
	}
}

.canvas {
	position: relative;
	background: #F8F8F8 url('../images/grid.png');
	overflow: hidden;
}

.pedal,
.pedalboard {
	animation: fade-grow .4s;
	position: absolute;
	border: 1px solid transparent;
	.artwork {
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100% 100%;
		z-index: 1;
		position: relative;
		transition: all .4s;
	}
	.actions {
		z-index: 1;
		transition: all .28s;
		opacity: 0;
		background: white;
		border: $border;
		box-shadow: $box-shadow-base;
		border-radius: 100px;
		background-clip: padding-box;
		position: absolute;
		left: 100%;
		top: 0;
		margin-left: -32px;
		margin-top: -15px;
		width: 66px;
		a {
			display: block;
			float: left;
			padding: 8px;
			text-align: center;
			width: 32px;
			line-height: 10px;
			&:before {
				font-size: 10px;
				line-height: 10px;
				@extend .glyphicon;
				@extend .glyphicon-remove;
			}
			&.rotate {
				border-right: $border;
				&:before {
					@extend .glyphicon-refresh;
					font-weight: bold;
				}
			}
		}
	}
	&:hover {
		&:before {
			$m: 4px;
			z-index: 0;
			content: " ";
			border: 2px dashed rgba(#999, .5);
			position: absolute;
			left: 	$m;
			top: 	$m;
			right: 	$m;
			bottom: $m;
		}
		.actions {
			opacity: 1;
		}
	}
	// Hide controls while dragging
	&.is-dragging {
		.actions {
			opacity: 0;
		}
	}
}

.pedal {
	z-index: 20;
	min-width: 5px;
	min-height: 5px;
	&.rotate-90 {
		.artwork {
			@include rotate(90deg);
		}
	}
	&.rotate-180 {
		.artwork {
			@include rotate(180deg);
		}
	}
	&.rotate-270 {
		.artwork {
			@include rotate(270deg);
		}
	}
	&.pedal--custom {
        &.rotate-90 {
			@include rotate(90deg);
    	}
    	&.rotate-180 {
			@include rotate(180deg);
    	}
    	&.rotate-270 {
			@include rotate(270deg);
    	}
    }
	&__box {
		border-radius: 4px;
		border: 1px solid rgba(black, .3);
		box-shadow: 1px 1px 4px rgba(black, .22), 0 1px 0 rgba(white, .2) inset;
		background-clip: border-box;
		background-image: linear-gradient( to top left, rgba(white, 0), rgba(white, .2) );
		position: absolute;
		@include cover;
		left: 3px;
		right: 3px;
	}
	&__knob1,
	&__knob2 {
		border-radius: 40px;
		@include square(12px);
		background-color: rgba(black, .8);
		border: 1px solid rgba(black, .3);
		box-shadow: 1px 1px 4px rgba(black, .22), 0 1px 0 rgba(white, .2) inset;
		background-clip: border-box;
		background-image: linear-gradient( to top left, rgba(white, 0), rgba(white, .2) );
		position: absolute;
		top: 15%;
	}
	&__knob1 {
		left: 20%;
	}
	&__knob2 {
		right: 15%;
	}
	&__jack1,
	&__jack2 {
		width: 3px;
		height: 10px;
		position: absolute;
		background-color: #999;
		border: 1px solid rgba(black, .3);
		top: 50%;
	}
	&__jack1 {
		left: 0;
		border-radius: 2px 0 0 2px;
		border-right: 0;
	}
	&__jack2 {
		right: 0;
		border-radius:  0 2px 2px 0;
		border-left: 0;
	}
	&__switch {
		position: absolute;
		background-color: #999;
		border: 1px solid rgba(black, .3);
		box-shadow: 1px 1px 4px rgba(black, .22), 0 1px 0 rgba(white, .2) inset;
		background-clip: border-box;
		border-radius: 100px;
		left: 50%;
		margin-left: -5px;
		@include square(10px);
		bottom: 10%;
	}
	&__name {
		font-size: 8px;
		text-align: center;
		display: block;
		position: absolute;
		top: 42%;
		left: 0;
		right: 0;
		padding: 0 8px;
		font-weight: bold;
	}
}

.pedalboard {
	z-index: 1;
	&--custom {
		border: 5px solid #ddd;
		border-top-color: #ccc;
		border-bottom-color: #ccc;
		background: #222;
	}
}

#custom-items {
	.nav-tabs {
		margin: 14px 0;
		li a {
			padding: 8px 13px;
			font-size: 12px;
		}
	}
	.form-element {
		margin-bottom: 15px;
		&.left {
			float: left;
			width: 50%;
		}
		label {
			font-size: 12px;
			em {
				font-size: 10px;
				font-style: normal;
				font-weight: normal;
				color: lighten($gray, 30%);
			}
		}
	}
	.custom-width {
		border-radius: 4px 0 0 4px;
	}
	.custom-height {
		border-radius: 0 4px 4px 0;
		border-left: 0;
	}
}

.color-swatch {
	border: 1px solid rgba(black, .2);
	border-radius: 100px;
	@include square(20px);
}

// Huge list of pedals, to find any broken links
#list-pedals {
	@include flexbox();
	@include flex-wrap(wrap);
	background: #222;
	.pedal-listing {
		@include flex(1 1 150px);
		@include flexbox();
		//@include align-items(center);
		@include justify-content(space-between);
		@include flex-direction(column);
		padding: 30px;
		box-shadow: 1px 1px 0 0 rgba(white, .08);
		img {
			margin: auto;
			display: block;
			margin-bottom: 10px;
			max-height: 200px;
			width: auto;
		}
		p {
			margin-bottom: 0;
			text-align: center;
			color: white;
		}
		.pedal-brand {
			opacity: .5;
			font-weight: bold;
			text-transform: uppercase;
			font-size: $font-size-base - 4;
		}
		.pedal-name {
			opacity: .9;
			font-size: $font-size-base - 1;
		}
	}
}

// #list-pedals {
// 	.pedal-listing {
// 		float: left;
// 		margin: 20px;
// 		img {
// 			max-width: none !important;
// 			width: initial !important;
// 		}
// 	}
// }

.invalid {
	border: 1px solid $brand-danger;
	&:focus {
		border: 1px solid $brand-danger;
		box-shadow: 0 0 5px $brand-danger;
	}
}
