$border: 1px solid rgba(black, .13);

.site-header {
	background: #FFF;
	border-bottom: $border;
	padding: 12px;
	h1 {
		font-size: 22px;
		text-transform: uppercase;
		margin: 0;
	}
}

.site-body {
	min-height: 100vh;
	@include flexbox;
}

.sidebar,
.canvas {
	@include flex(1 1 auto);
}

.sidebar {
	width: 200px;
	max-width: 250px;
	border-right: $border;
	background: #FFF;
	box-shadow: 0 1px 5px rgba(black, .16);
	padding: 20px;
	&__section {
		border-bottom: $border;
		padding-bottom: 16px;
		margin-bottom: 16px;
	}
}

.canvas {
	//position: relative;
	background: #F8F8F8 url('../images/grid.png');
	overflow: hidden;
}

.pedal,
.pedalboard {
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	width: 40px;
	height: 100px;
	position: absolute;
	a {
		transition: all .2s;
		opacity: 0;
		@include square(19px);
		position: absolute;
		right: -8px;
		top: -8px;
		border: 1px solid rgba(0, 0, 0, 0.2);
		border-radius: 15px;
		text-align: center;
		line-height: 16px;
		text-decoration: none;
		font-size: 14px;
		background: rgba(white, .8);
		color: black;
		&:before {
			@extend .glyphicon;
			@extend .glyphicon-remove;
			font-size: 9px;
			position: absolute;
			line-height: 1;
			left: 0;
			right: 0;
			top: 4px;
		}
	}
	&:hover a {
		opacity: 1;
	}
}

.pedal {
	z-index: 20;
	&--custom {
		position: relative;
	}
	&__box {
		border-radius: 4px;
		border: 1px solid rgba(black, .3);
		box-shadow: 1px 1px 4px rgba(black, .22), 0 1px 0 rgba(white, .2) inset;
		background-clip: border-box;
		background-image: linear-gradient( to top left, rgba(white, 0), rgba(white, .2) );
		position: absolute;
		@include cover;
		left: 3px;
		right: 3px;
	}
	&__knob1,
	&__knob2 {
		border-radius: 40px;
		@include square(12px);
		background-color: rgba(black, .8);
		border: 1px solid rgba(black, .3);
		box-shadow: 1px 1px 4px rgba(black, .22), 0 1px 0 rgba(white, .2) inset;
		background-clip: border-box;
		background-image: linear-gradient( to top left, rgba(white, 0), rgba(white, .2) );
		position: absolute;
		top: 15%;
	}
	&__knob1 {
		left: 20%;
	}
	&__knob2 {
		right: 15%;
	}
	&__jack1,
	&__jack2 {
		width: 3px;
		height: 10px;
		position: absolute;
		background-color: #999;
		border: 1px solid rgba(black, .3);
		top: 50%;
	}
	&__jack1 {
		left: 0;
		border-radius: 2px 0 0 2px;
		border-right: 0;
	}
	&__jack2 {
		right: 0;
		border-radius:  0 2px 2px 0;
		border-left: 0;
	}
	&__switch {
		position: absolute;
		background-color: #999;
		border: 1px solid rgba(black, .3);
		box-shadow: 1px 1px 4px rgba(black, .22), 0 1px 0 rgba(white, .2) inset;
		background-clip: border-box;
		border-radius: 100px;
		left: 50%;
		margin-left: -5px;
		@include square(10px);
		bottom: 10%;
	}
}

.pedalboard {
	z-index: 1;
}
