@media (prefers-color-scheme: dark) {
	.modal-content {
		background: $panel-bg-dark;
		.close {
			text-shadow: none;
			color: #ccc;
		}
	}

	.select2-container--default .select2-selection--single .select2-selection__rendered {
		color: $body-color-dark;
	}

	// selected select2
	.select2-container--default .select2-results__option[aria-selected="true"] {
		background: $panel-bg-dark;
		color: white;
	}

	.modal-header,
	.modal-footer {
		border-color: rgba(white, 0.1);
	}

	.site-body .btn {
		border: 0;
	}

	.site-body .select2-selection,
	.form-control,
	.input-group-addon,
	.select2-dropdown {
		border: 0;
		background: $canvas-bg-dark;
		border: 1px solid rgba(white, 0.1);
		color: $body-color-dark;
	}

	.input-group-addon,
	.select2-search__field {
		background: $canvas-bg-dark;
		border-color: rgba(white, 0.1);
	}
	.nav-tabs {
		border-color: rgba(white, 0.1);
	}
	.nav-tabs > li.active > a,
	.nav-tabs > li.active > a:focus,
	.nav-tabs > li.active > a:hover {
		color: #999;
		background: $canvas-bg-dark;
		border-color: rgba(white, 0.1);
	}
	.nav-tabs > li > a:hover {
		background: none;
		color: white;
		border-color: transparent;
	}

	// .select2-container--default .select2-results__option--highlighted[aria-selected] {
	// 	color: red;
	// }
}
