/* Colors */
$brand-color: #cb2532;
$brand-gray: #616d80;

$brand-border-color: rgba($brand-gray, 0.25);


$trans-border-base: 1px solid rgba(black, 0.16);
$trans-border-light: 1px solid rgba(black, 0.1);


$image-path: "../images/";
$colorpicker-img-path: "#{$image-path}colorpicker";

$box-shadow-base: 0 1px 3px rgba(black, 0.15);


$box-shadow-popover: 0 2px 15px 0 rgba(0, 0, 0, 0.09), 0 1px 4px 0 rgba(0, 0, 0, 0.1);


$button-padding-offset: 0;





$border: 1px solid rgba(black, .06);
$box-shadow-subtle: 4px rgba(black, 0.05);