.pedalboard {
	background: #f9f9f9;
	border: 3px solid #999;
	width: 800px;
	height: 600px;
}

.pedal {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 40px;
	height: 100px;
	float: left;
	box-shadow: 0 1px 3px rgba(black, .3);
	border-radius: 3px;
}
